*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background: #F3EFEF;
    background-size: cover;
}


.body1 {
    width: 1000px;
    height: 500px;
    top: -8px;
    padding-left: 200px;

}

.search-input{
    width: 280.42px;
    height: 35px;
    /* top: 69px;
    left: 390px; */
    
    border-radius: 50.69px;
    border: 2px solid black;
    gap: 11.84px;
}

.sign-up-form{
    width: 430px;
    height: 300px;
    /* box-shadow: ; */
    background: #FFFFFF;
    padding: 80px;
    margin: 8% auto 0;
    border-radius: 15px;
    /* text-align: center; */
    
}
.input-box{
    border-radius: 5px;
    width: 85%;
    height: 25px;
    outline: none;
    
    
}
button{
    color: #3626A7;
    /* width: 100%; */
    padding: 10px;
    border-radius: 20px;
}

nav ul {
    float: right;
    margin-right: 100px;
}
nav ul li  {
    display: inline-block;
    line-height: 90px;
    margin-right:10px;
    color: #494444;;

}

nav ul li a {
    color: #494444;
}

label .logo{
    margin: 30px;
    size: -40px;
    padding: 0 100px;
}

.big {
    display: inline-block; /* Display images inline */
    width: 1200px; /* Adjust width as needed */
    height: 400px;
    margin-left: 50px;
}

