body{
    margin: 0;
    padding: 0;
    background: #F3EFEF;
}


.body1 {
    width: 1440px;
    height: 798px;
    top: -11px

}

.search-input{
    width: 318.42px;
    height: 45px;
    top: 69px;
    left: 390px;
    padding: 5.92px 20.13px;
    border-radius: 305.69px;
    border: 2px solid black;
    gap: 11.84px;
}

.sign-up-form{
    width: ;
    box-shadow: ;
    background: ;
    padding: ;
    margin: ;
    text-align: center;
}